<div class="col-sm-offset-1" style="position: relative">
    <input id="hamburger" type="checkbox" class="hamburger-checkbox" />
    <div id="hamburger-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>     
    </div>
    <nav role="navigation" class="hamburger-sidebar">
        <ul class="menu">
            <li><a style="color:white" href="#/create/"><strong>Give</strong></a></li>
            <li><a style="color:white" href="#/myRewards/"><strong>My Rewards</strong></a></li>
            <li><a style="color:white" href="#/approval/"><strong>Approve</strong></a></li>
            <li><a style="color:white" href="#/redeem/"><strong>Redeem</strong></a></li>
            <li><a style="color:white" href="#/myTeamRewards/"><strong>Report</strong></a></li>
            <li><a style="color:white" target="_blank" href=""><strong>Program Info</strong></a></li>
        </ul>
    </nav>
</div>