<nav>
    <div id="parent_element" class="menu-item">
        <div id="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <h4><a href="#">&nbsp</a></h4>
        </div>
        <ul>
            <li><a href="#/create/"><strong>Give</strong></a></li>
            <li><a href="#/myRewards/"><strong>My Rewards</strong></a></li>
            <li><a href="#/approval/"><strong>Approve</strong></a></li>
            <li><a href="#/redeem/"><strong>Redeem</strong></a></li>
            <li><a href="#/myTeamRewards/"><strong>Report</strong></a></li>
            <li><a target="_blank" href="http://Resources "><strong>Program Info</strong></a></li>
        </ul>
    </div>
</nav>
